
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
   margin: 0;
   padding: 0
}
body{
   font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
img {
   border: 0
}

address, caption, cite, code, dfn, em, th, var, optgroup {
   font-style: normal;
   font-weight: normal
}

ins {
   text-decoration: none
}

li {
   list-style: none
}

table {
   font-size: inherit;
   border-collapse: collapse;
   border-spacing: 0
}

caption, th {
   text-align: left
}

h1{
   font-size: 30px;
}
h2{
   font-size: 22px;
}

h3{
   font-size: 18px;
}
h4{
   font-size: 14px;
}

q:before, q:after {
   content: ''
}

abbr, acronym {
   border: 0;
   font-variant: normal
}

legend {
   color: #000
}

input, button, textarea, select, optgroup, option {
   font-family: inherit;
   font-size: inherit;
   font-style: inherit;
   font-weight: inherit
}

input, button, textarea, select {
   margin: 0;
   *font-size: 100%;
   line-height: 1.2
}

a {
   color: #333;
   text-decoration: none
}
a:link, a:visited {
   text-decoration: none;
   color: #1072d4;
}
a:hover {
   color: #c70000
}

a:focus {
   color: #0063c8;
   outline-style: none;

   -moz-outline-style: none
}

a img, img {
   -ms-interpolation-mode: bicubic
}

sub, sup {
   vertical-align: baseline
}

article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote {
   display: block
}

pre {
   white-space: pre-wrap;
   word-wrap: break-word
}

/*
resize：是否允许拖拽textarea右下角调整大小
 vertical;   只允许垂直方向拖拽
 horizontal;  只允许水平方向拖拽
 none; 不允许拖拽
  both; 允许垂直 水平 拖拽
*/
textarea {
   resize: none;
   overflow: auto
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
   outline: 0
}

input, select, button {
   vertical-align: middle
}

a:active, button:active, input:active {
   outline: 0
}

.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden
}

.clearfix {
   zoom: 1
}
blockquote{
   background: none;
   border: 2px solid #efefef;
   padding: 5px 10px ;
   margin: 10px;
}
